:root{
  --slidewidth: ;
}
@keyframes moveSlider {
  from {left :0;}
  to {left: var(--slidewidth);}
}
.animate{
  animation-name: moveSlider;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
article img{
  display: block;
  max-width: 100%;
  height: auto;
}
#one{
  width: 100%;
  overflow: hidden;
  height: 400px;
  position: relative;
}
.slider{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
}
.sliderpaused{
  display: flex;
  position: absolute;
    top:0;
    /*right: 0;  this is the only change! */
    height: 400px;
}
.a, .b {
  display: flex;
  height: 100%;
}

