/*animation*/
h1{
  font-family: 'Barriecito', cursive;
  text-align: center;
  font-size: 100px;
  animation: glitch 1s linear infinite;
}
@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}
body {
  background-color: #FFE1AB; /* Add your desired background color here */
}
/*
#third{
  background-image: url(images/win.png);
  background-repeat: no-repeat;
} add background to the win page */
h3{
  font-family: 'Barriecito', cursive;
  text-align: center;
  font-size: 140px;
}
p{
  font-family: 'Barriecito', cursive;
  text-align: center;

  font-size: 30px;
}
h2{
  font-family: 'Baloo 2', cursive;
  font-size: 15pt;
  line-height: 1.5em;
}

button{
  padding: 30px;
    background-color: rgb(168, 208, 224);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 30px;
    font-family: 'Baloo 2', cursive;
    font-size: 15pt;
    margin: auto;
}
/*position*/
#gamecontrol{
 text-align: center;
  }
#roll{
  display: grid;
  align-items: center;
}
#win{
  text-align: center;
}
  #first {
    position: relative;
    padding: 50px;
  }
  .hamsterleft,
  .hamsterright {
    position: absolute;
    top: 0;
    height: 50%;
    max-width: 50%;
    z-index: 0;
  }
  
  .hamsterleft {
    left:0;
  }
  
  .hamsterright {
    right: 0;
  }
  

  img {
   margin: auto;
   flex-shrink: 0;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .hamster-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
  }
  #button{
    margin: auto;
  }
  

/*overlay*/
.hidden{
   visibility: hidden;
}
.showing{
    visibility: visible;
}
