body{
    background-color: #fbf7eb;
    

}
h2{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 15px;
    line-height: 1em;

}
h1{
    font-family: 'Patua One', cursive;
    font-size: 30px;
    text-align: center;
}
form{
    font-family: 'Advent Pro', sans-serif;
    font-size: 20px;
    line-height: 2em;


    position: relative;
    display: flex;
    justify-content: center;

    

}
form label{
    position: relative;
}
#myform{
    display: block;
    box-sizing: border-box;
    padding: 35px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 150px;
    margin-right: 150px;

    border-radius: 20px;
    border: 20px solid  #a1747f;
    background-color: #fbf7eb;
    position: relative;
}
#submit{
    display: block;
    padding: 20px;
    text-align: center;
    background-color: #a1747f;
    color: #fbf7eb;
}

.flower{
   float: right;
   margin: auto;
   transition: transform .7s ease-out;
}
.flower:hover{
    transform: rotate(360deg);

}

.leaves{
    margin: auto;
    position: relative;
    animation: wiggle 5s infinite ease-in-out;
}
.hamster{
    position: sticky;
}
.sunset{
    position: relative;
}
@keyframes wiggle{
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(10deg);}
    75% {transform: rotate(-10deg);}
    100% {transform: rotate(10deg);}
}
.hidden{
    visibility: hidden;

}
.showing{
    visibility: visible;

}
label{
    align-items: center;
}
article{
    width: 80%;
    height: 130%;
    position: absolute;
    top: 40%;
    left: 50%;
    right: 30%;
    transform: translate(-50%, -50%);
    background-image: url(images/po2.png);
    background-repeat: no-repeat;
    font-family: 'Advent Pro', sans-serif;
    font-size: 40px;
    line-height: 1.5em;
   
    color: black;
    margin-top: 20%;
    text-align: center;
    margin-left: 30px ;
    margin-right: 150px;
}